@model IEnumerable<WebAPINet3.Models.Employee>

@{
    ViewBag.Title = "Employees";
}

<style>
    .smartcolor {
        background-color: #9bae6b;
    }
    .cursorpointer {
        cursor: pointer;
    }
    .hiddenelement {
        display: none;
    }
</style>

<h2>Employees</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    <div class="col-sm-6">
        <table class="table" id="tbl_employee">
            <tr>
                <th>
                    EmplyeeID
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    First Name
                </th>

                <th>
                    City
                </th>

                <th>
                    Orders
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>

                    <td>
                        @*@Html.ActionLink("View Orders", "EmployeeOrders", new { id = item.EmployeeID })*@
                        <div class="cursorpointer text-primary divdetail">
                            Dettaglio Ordini
                        </div>
                    </td>
                </tr>
            }

        </table>
    </div>
    <div class="col-sm-6">
        <p> List of Orders </p>
    </div>
</div>
   

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('tr:even').addClass('smartcolor');
            $('th').first().hide();
            $('tr td:first-child').hide();

            $('div.divdetail').click(function () {

                var employeeID = $(this).closest('tr').find('td').first().text().trim();
                var server_url = 'http://localhost:2625/';
                var api_action = 'api/orders';
                var params = '?EmployeeID=' + employeeID;

                $.ajax({
                    cache: false,
                    url: server_url + api_action + params
                }).done(function (orders) {

                    var x = 0;
                });

            }); // end click handler
        }); // end jquery
    </script>

